mixin list(...items)
	ul
		each item in items
			li
				a(href=item.link)= item.text


html
	head
		title file server
		link(rel="stylesheet", href="/public/test.css")
		link(rel="stylesheet", href="/public/style.css")
	body
		h1 #{header}
		+list(...files)